<?php
$script=<<<SCRIPT
<script type="text/javascript">

	$( function(){ 
$("table.zebra tr:even").addClass("even"); 
$("table.zebra tr:odd").addClass("odd"); 
});
</script>
SCRIPT;
echo $script;
?>


<?php
/* Get File extension from file name */
function getFileExtension($filename){
  return substr($filename, strrpos($filename, '.'));
}
?>

<h1><?= $this->logMgt['heading']; ?></h1><br>

<div class="log-section-full-panel">
 <table class="zebra">
 <tr>
	<th><?= $this->logMgt['id']; ?></th>
	<th><?= $this->logMgt['logFile']; ?></th>
	<th><?= $this->logMgt['htmlFile']; ?></th>
	<th><?= $this->logMgt['delete']; ?></th>
 </tr> 


<?php

$id = 1;
$path = "./tmp/logs/xlslogs/upload_logs/";
$handle = opendir( "$path" );

while($file = readdir($handle))
{
	if (filetype($path.$file) == 'file' )
	{
		if ( getFileExtension($path.$file) === '.log' ) 
		{
		        $logsize=filesize($path.$file);
		        $htmlfile = str_replace(".log", ".html" , $file); 
			$htmlsize=filesize($path.$htmlfile);
			echo '<tr>';
			echo '<td>'.$id.'</td>';
			echo '<td><a href="/tmp/logs/xlslogs/upload_logs/'.$file.'" target="_blank">'.$file.'</a>'.' ['.$logsize.']'.'</td>';	
			echo '<td><a href="/tmp/logs/xlslogs/upload_logs/'.$htmlfile.'" target="_blank">'.$htmlfile.'</a>'.' ['.$htmlsize.']'.'</td>';
			echo '<td><INPUT TYPE=CHECKBOX NAME="remove"></td>';				
			echo '</tr>';
			$id++;
		}
	}
}
closedir( $handle );
?> 

  </table>
</div>


<br><br><h1><?= $this->logMgt['valheading']; ?></h1><br><br>

<div class="log-section-full-panel">
 <table class="zebra">
 <tr>
	<th><?= $this->logMgt['id']; ?></th>
	<th><?= $this->logMgt['logFile']; ?></th>
	<th><?= $this->logMgt['htmlFile']; ?></th>
	<th><?= $this->logMgt['delete']; ?></th>
 </tr> 


<?php
$id = 1;
$path = "./tmp/logs/xlslogs/validation_logs/";
$handle = opendir( "$path" );

while($file = readdir($handle))
{
	if (filetype($path.$file) == 'file' )
	{
		if ( getFileExtension($path.$file) === '.log' ) 
		{
		        $logsize=filesize($path.$file);
		        $htmlfile = str_replace(".log", ".html" , $file); 
			$htmlsize=filesize($path.$htmlfile);
			echo '<tr>';
			echo '<td>'.$id.'</td>';
			echo '<td><a href="/tmp/logs/xlslogs/validation_logs/'.$file.'" target="_blank">'.$file.'</a>'.' ['.$logsize.']'.'</td>';	
			echo '<td><a href="/tmp/logs/xlslogs/validation_logs/'.$htmlfile.'" target="_blank">'.$htmlfile.'</a>'.' ['.$htmlsize.']'.'</td>';
			echo '<td><INPUT TYPE=CHECKBOX NAME="remove"></td>';				
			echo '</tr>';
			$id++;
		}
	}
}
closedir( $handle );
?> 

  </table>
</div>