<?php
$session=Zend_Registry::get('SQL');
$themePath=$session->theme['themePath'];
$activeTheme=$session->theme['activeTheme'];
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title><?php echo $this->escape($this->title); ?></title>
	<?= '<link rel="stylesheet" type="text/css" href="/application/themes/'.$activeTheme.'/css/master.css"/>'; ?>
	
	<!-- <link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/facebox.css"/>
	<link rel="stylesheet" type="text/css" href="/css/local/customer.css"/> -->

	<link rel="stylesheet" type="text/css" href="/css/breadcrumb/BreadCrumb.css"/>
	<link rel="stylesheet" type="text/css" href="/css/themes/ui-lightness/ui.all.css"/>
	<link rel="stylesheet" type="text/css" href="/css/pro_dropdown_2.css"/>
	<link rel="stylesheet" type="text/css" href="/css/autocomplete/jquery.autocomplete.css"/>

	<script src="/js/AllUtility.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/jquery/slider.js"></script>
	<script type="text/javascript" src="/js/jquery/jquery-1.3.min.js"></script>
	<script type="text/javascript" src="/js/jquery/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript" src="/js/breadcrumb/jquery.jBreadCrumb.1.1.js"></script>
	<script type="text/javascript" src="/js/breadcrumb/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/bgiframe/jquery.bgiframe.js"></script>
	<script type="text/javascript" src="/js/autocomplete/jquery.autocomplete.js"></script>
	<script src="/js/FusionCharts.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/js/facebox/facebox.js" type="text/javascript" charset="utf-8"></script>
	
	<link type="text/css" href="/css/fg.menu.css" media="screen" rel="stylesheet" />
	<script type="text/javascript" src="js/fg.menu.js"></script>
	

	<script type="text/javascript">
		
	  jQuery(document).ready(function($) {
		$('a[rel*=facebox]').facebox({
		});
	  });

	  $( function(){ 
		$("table.zebra tr:even").addClass("even"); 
		$("table.zebra tr:odd").addClass("odd"); 
		});

	  $.maxZIndex = $.fn.maxZIndex = function(opt) {
		    /// <summary>
		    /// Returns the max zOrder in the document (no parameter)
		    /// Sets max zOrder by passing a non-zero number
		    /// which gets added to the highest zOrder.
		    /// </summary>    
		    /// <param name="opt" type="object">
		    /// inc: increment value, 
		    /// group: selector for zIndex elements to find max for
		    /// </param>
		    /// <returns type="jQuery" />
		    var def = { inc: 10, group: "*" };
		    $.extend(def, opt);
		    var zmax = 0;
		    $(def.group).each(function() {
			var cur = parseInt($(this).css('z-index'));
			zmax = cur > zmax ? cur : zmax;
		    });
		    if (!this.jquery)
			return zmax;

		    return this.each(function() {
			zmax += def.inc;
			$(this).css("z-index", zmax);
		    });
		}
	</script>
    </head>
    <body>
	<?php
		$layout= $themePath.'/layouts/layout.phtml';
		require_once($layout);
	?>
    </body>
</html>