/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

/* float clearing for IE6 */
* html .module
{
	height: 1%;
	overflow: visible;
}

/* float clearing for IE7 */
* + html .module
{
	min-height: 1%;
}


/* General Typography
 ---------------------------------------------------------------------*/
html, body
{
	font-size: 12px;
	line-height: 21px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background:#f3f3f3;
}

html > body
{
	font-size: 12px;
	line-height: 21px;
}


h1
{
	font-weight: bold;
	color: #007ac3;
	font-size: 2em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h2
{
	color: #1371aa;
	font-weight: bold;
	font-size: 1.6666em;
	line-height: 1em;
	margin: 1.25em 0 .75em 0;
}

h3
{
	color: #1371aa;
	font-size: 1.41667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .75em 0;
}

h4
{
	color: #000;
	font-size: 1.1667em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h5
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

h6
{
	color: #000;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
	margin: 1.25em 0 .5em 0;
}

strong
{
	font-weight: bold;
}

em
{
	font-style: italic;
	line-height: 1.75em;
}

p
{
	font-size: 1em;
	line-height: 1.75em;
	margin: .25em 0 1.5em;
}
td, td a, th, th a, span
{
	line-height: 1.3333em;
}

blockquote
{
	margin: .416em 0 .416em 1.1667em;
}

a
{
	color: #0e82c7;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

a:hover
{
	text-decoration: underline;
}

ul, ol
{
	margin: .833em 0;
	padding-left: 2em;
}
ul
{
	list-style-type: disc;
}
ol
{
	list-style-type: decimal;
}
ul li, ol li
{
	line-height: 1.5em;
}

dt
{
	margin: .416em 0 0 0;
}

dd
{
	margin: .416em 0 .416em 1.1667em;
}

pre, code, tt
{
	font-family: "Andale Mono" , "Lucida Console" , "Courier New" , Courier, monospace;
	margin: .833em 0;
}
sub
{
	vertical-align: sub;
	font-size: smaller;
	line-height:inherit;
}

sup
{
	vertical-align: super;
	font-size: smaller;
	line-height:inherit;
}

/* Page Specific
 ---------------------------------------------------------------------*/


.breadCrumbHolder
{
	margin:0 0 20px 0;
}
pre
{
	background:#ddd;
	border:solid 1px #fff;
	padding:10px;
	color:#111;
}
.description
{
	float:left;
	width:700px;
	margin-right:20px;
}
.sideBar
{
	float:left;
	background:#fff;
	border:solid 1px #dedede;
	padding:20px;
	width:238px;
	margin:50px 0 0 0;
}
.license p
{
	font-size:0.83333em;
	color:#888;
}


