
<h1> This Page is under construction</h1> 


<!-- =================================================================
[  My_HTML   Start  DATE : 1/6/2010  ||  PURPOSE : Default_Test ] 
---------------------------------------------------------------------------------------------

<table class="zebra2">
<?php foreach($this->menu as $menu) : ?>
<tr>
    <td><a href="<?php echo $this->escape($menu->RESOURCE_URL);?>"><?php echo $this->escape($menu->RESOURCE_NAME);?></a><br></td>
</tr>
<?php endforeach; ?>
</table>


[ MY_HTML  Closed ]=========================================================== -->



