<?php
$this->showXlsDownloadSection($this->xlsResults);

if($this->textErrors )
{ 
	echo "<div class='errorbox'>";
	echo "<b>".$this->viewlabels['termination']."</b><br>";	
		$this->textMessage($this->textErrors);
	echo '</div>';
}
if($this->textSuccess){
	echo "<div class='successbox'>";
		$this->successMessage($this->textSuccess);
	echo "</div>";
} 
?>

<div class="entry-section">
<fieldset>
<legend class="icon-div"> <img src="<?= $this->images['search']; ?>" class="icons" > <?php echo $this->searchForm['searchSectionHead']; ?></legend>
<div class="add-link-section">
	<a href="/trn/payment/addsummary" class="btn add"><?php echo $this->links['addsummary']; ?> </a>
</div>
<div class="search-section">
<form name="Form1" method="POST">
	<input name="REQUEST" type="hidden" value="Search">
			<table class="zebra">	
				<tr> 
					<td> <b><?php echo $this->searchForm['custname'];?></b></td> 
					<td><input type="text" name="customer_name" id="customer_name" value="<?=  $this->cnm; ?>"/> </td>
					<td><b><?php echo $this->searchForm['custid']; ?></b> </td>
					<td><input type="text" name="customer_id" id="customer_id" value="<?=  $this->cid; ?>"/>  </td>
				</tr>
				<tr> 
					<td><b><?php echo $this->searchForm['empname']; ?></b> </td>
					<td><input type="text" name="employee_name" id="employee_name" value="<?=  $this->enm; ?>"/> </td>
					<td><b><?php echo $this->searchForm['empid']; ?></b> </td>
					<td><input type="text" name="employee_id" id="employee_id" value="<?=  $this->eid; ?>"/> </td> 
				</tr>
				<tr>
					<td><b><?php echo $this->searchForm['schemeId']; ?> </b></td>
					<td><input type="text" name="scheme" id="scheme_id" value="<?=  $this->schm; ?>"/> </td>
					<td><b><?php echo $this->searchForm['schemeType']; ?> </b></td>
					<td><?= $this->schemeTypes ?> </td>
						
				</tr>
				<tr>
					<td><b><?php echo $this->searchForm['endDate'].' ('.$this->searchForm['dateFormat'].')'; ?> </b></td>
					<td><input type="text" name="endDate" size=17 class="pick-date" value="<?=  $this->enddt; ?>"/></td>		
					<td><b><?php echo $this->searchForm['startDate'].' ('.$this->searchForm['dateFormat'].')'; ?> </b></td>
					<td><input type="text" name="startDate" size=17 class="pick-date" value="<?=  $this->strdt; ?>"/> </td>	
				</tr>

			
				<tr>
					<td colspan=3>&nbsp;</td>
					<td><input type="submit" value="<?php echo $this->searchForm['submit']; ?>" id="submit_1"/></td>
				</tr>
			</table>
	</form>
</div>
<fieldset>
</div>


<fieldset>
<legend>
<?php
if($this->srch){
$searchResultString=initializeString( array('cnm'=>$this->cnm,'cid'=>$this->cid,
				          'enm'=>$this->enm,'eid'=>$this->eid,'schm'=>$this->schm,'param1'=>$this->schmType,'vchr'=>$this->vchr,
					  'strdt'=>$this->strdt,'enddt'=>$this->enddt), $this->searchForm ); ?>
<div class="search-result-string"><img src="<?= $this->images['searchResult']; ?>" class="search-result-icons"  > <?= $searchResultString; ?></div>

<?php
}
/*
echo  $this->viewlabels['totalvaluepre'].' <b> ' .(int)$this->escape($this->totalSummary) .$this->viewlabels['totalvaluepost'] .'</b><br>';
*/ 
echo "</legend><br>";
if($this->paginator['paginator'])
{

?>
<div class="pagination"><?php echo $this->paginationControl($this->paginator['paginator'],
                                    'Sliding',
                                    '/partials/my_pagination_control_2.phtml',
				    array('search'=>$this->srch,'cnm'=>$this->cnm,'cid'=>$this->cid,'enm'=>$this->enm,'eid'=>$this->eid, 'schm'=>$this->schm,'param1'=>$this->schmType,'vchr'=>$this->vchr,'strdt'=>$this->strdt,'enddt'=>$this->enddt)); ?>
</div>

<fieldset class="export_section export-align1">
<legend><?= $this->viewlabels['excelExport'] ?></legend>
	<form method="POST">
		<input name="searchparams" type="hidden" value="<?php echo $this->searchparams; ?>" >
		<input name="arrayparams" type="hidden" value="<?php echo $this->arrayparams; ?>" >
		<input name="search" type="hidden" value=<?= $this->srch; ?>>
		<input type="submit" id="xlss" name="export" value="" />
	</form>
</fieldset>

<form name="deleteForm" METHOD="POST">
<input name="params" type="hidden" value="<?php echo $this->cnm."/".$this->cid."/".$this->enm."/".$this->eid."/".$this->schm."/".$this->vchr."/".$this->strdt."/".$this->enddt."/".$this->page."/".$this->schmType; ?>" >
<input name="REQUEST" type="hidden" value="Delete"> 				  

<?php 
} 
$table_content_Header='<table class="zebra"><tr>'.
	 '<th>'.$this->summaryTableHeader['voucherNo'].'</th>'.
	 '<th>'.$this->summaryTableHeader['scheme'].'</th>'.
	 '<th>'.$this->summaryTableHeader['employee'].'</th>'.
	 '<th>'.$this->summaryTableHeader['customer'].'</th>'.
	 '<th>'.$this->summaryTableHeader['paymentAmount'].'</th>'.
	 '<th>'.$this->summaryTableHeader['paymentType'].'</th>'.
	 '<th>'.$this->summaryTableHeader['receiptAmount'].'</th>'.
	 '<th>'.$this->summaryTableHeader['receiptDueAmount'].'</th>'.
	 '<th>'.$this->summaryTableHeader['startDate'].'</th>'.
	 '<th>'.$this->summaryTableHeader['latestDate'].'</th>'.
	 '<th>'.$this->summaryTableHeader['recordStatus'].'</th>'.
	 '<th>'.$this->summaryTableHeader['trns'].'</th>'.
	 '<th>'.$this->summaryTableHeader['edit'].'</th>'.
	 '<th><input type="submit" class="delete" name="delete" id="delete_icon" value="" >'.'<input type="checkbox" name="checkall" value=0 onclick="SetAllCheckBoxes'."('deleteForm','tdid','checkall')".';"/>'.$this->summaryTableHeader['delete'].'</th>'.
	 '</tr>';
echo $table_content_Header;
?>


<?php	
	
	if (count($this->paginator['data'])): 
	$i=0;
	foreach ($this->paginator['data']  as $row ) {
		   echo "<tr>";
		   echo "<td>$row->VOUCHER_NO</td>";
		   echo "<td>$row->SCHEME_ID (".$row->SCHEME_TYPE[0].")</td>";
		   echo "<td> $row->EMPLOYEE_ID </td>";
		   echo "<td> $row->CUSTOMER_NAME </td>";
		   echo "<td class='rt'>".$this->format->numFormat($row->TOTAL_PAYMENT_PRINCIPAL)."</td>";
		   echo "<td>$row->PAYMENT_TYPE</td>";
		   echo "<td class='rt'>".$this->format->numFormat($row->TOTAL_RECEIPT_PRINCIPAL)."</td>";
		   echo "<td class='rt'>".$this->format->numFormat($row->TOTAL_RECEIPT_DUE_PRINCIPAL)."</td>";
		   echo "<td class='ct'>$row->START_DATE</td>";
		   echo "<td class='ct'>$row->LATEST_DATE</td>";
		   echo "<td class='ct'>$row->ACTIVE_STATUS</td>";
		   echo '<td><a href="/trn/payment/dtlsummaryid/id/'.$row->TRAN_SUMMARY_ID.'" title="Detail view of '.$row->TRAN_SUMMARY_ID.'" rel="facebox" id="table_icon"></a></td>';
		   echo '<td><a href="/trn/payment/editsummary/id/'.$row->TRAN_DETAILS_ID.'" title="Edit"  id="edit_icon"></a></td>'; 
		   echo '<td class="ct"> <input type="checkbox" name="tdid['.$i.']" id="tdid"  value="'.$row->TRAN_DETAILS_ID.'" /></td></tr>';
		   $i++;
		}
	endif;
echo "</table>";	
?>
<input type="hidden" name="ttlfields" id="ttlfields" value="<?= $i;?>">
</form>
<?php  
if($this->paginator['paginator'])
{
?>
<div class="pagination"><?php echo $this->paginationControl($this->paginator['paginator'],
                                    'Sliding',
                                    '/partials/my_pagination_control_2.phtml',
				    array('search'=>$this->srch,'cnm'=>$this->cnm,'cid'=>$this->cid,'enm'=>$this->enm,'eid'=>$this->eid, 'schm'=>$this->schm,'param1'=>$this->schmType,'vchr'=>$this->vchr,'strdt'=>$this->strdt,'enddt'=>$this->enddt)); ?></div>
<?php 
} 
unset($this->format);
?>
</fieldset>