<?php
require_once ('thirdParty/dompdf5/dompdf_config.inc.php');
spl_autoload_register('DOMPDF_autoload');
$dompdf = new DOMPDF();

set_time_limit(3600); 

$old_limit = ini_set("memory_limit", "256M");
$table='
<style type="text/css">
.tab{
	border:1px solid;
	margin:72px;
	border-collapse: collapse;
}

.tab td{
	padding:3px;
	border:1px solid;
	background:#0080FF;
}

</style>


<table class="tab"><tr>';
foreach($this->trData['tableHeaders'] as $header)
	$table=$table.'<td>'.$header.'</td>';
$table=$table.'</tr>';

$i=0;
foreach($this->result as $row)
{
if($i==17){
$table=$table.'<tr>';
foreach($this->trData['tableHeaders'] as $header)
	$table=$table.'<td>'.$header.'</td>';
$table=$table.'</tr>';
$i=0;
}
$table=$table.'<tr>';
foreach($this->trData['tableSQLColumns'] as $column)
	$table=$table.'<td>'.$row->$column.'</td>';
$table=$table.'</tr>';
$i++;
}
$table=$table.'</table>';

//echo $table;

if ( get_magic_quotes_gpc() )
   $table = stripslashes($table);

$dompdf->load_html($table);
$dompdf->set_paper('a4', 'landscape');
$dompdf->render();
$dompdf->stream($this->filename);
exit(0);
?>
