<?php

$swfPlayer='
<div>
	<object type="application/x-shockwave-flash" data="'.$this->videoFile.'" width="640" height="480">
		<param name="movie" value="'.$this->videoFile.'">
		<param name="allowScriptAccess" value="always">
		<param name="id" value="592196">
		<param name="classid=" value="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
	</object>
</div>';

echo $swfPlayer;

?>


