
<div class="entry-section">

<?php
if($this->update==2)
 {  
    if($this->textSuccess)
      {
          echo "<div class='successbox'>";
	     $this->successMessage($this->textSuccess);
	  echo "</div>";
      }
 $script= '<script language="JavaScript">
    return_url="'.$this->url.'";
     delayRedirect(return_url);
     </script>';

 echo $script;

 }
else {
 if( $this->textErrors )
{ 
  echo "<div class='errorbox'>";
  	echo "<b>Operation Terminated</b><br><br>";
		
	if($this->textErrors )
		$this->textMessage($this->textErrors);
  echo '</div>';
}
?>

<form method="POST" enctype='multipart/form-data'>
<input type="hidden" name="params"  value="<?php echo $this->id."/".$this->image; ?>" >
<input type="hidden" name="id" id="id" value="<?php echo $this->id ?>" size="30">
<table class="zebra">
	<tr>
	   <td rowspan=2 ><div class="entity-image-box"><img src="/../images/entity/employee/<?php echo $this->image; ?>" class="entity-image-box-image-boder" ></div>  </td>	
	   <td><b><?php echo $this->formLabel['employeeId']; ?></b></td>		
	   <td><input type="text" name="empId" id="empId" value="<?php echo $this->empId; ?>" size="30" class="element-text"><div id="checkemp"></div></td>
	</tr>
	<tr>  
	   <td><b><?php echo $this->formLabel['name']; ?></b></td>		
	   <td><input type="text" name="name" id="name" value="<?php echo $this->name; ?>" size="30"></td>
	</tr>
	<tr>
	   <td rowspan=10></td>
	   <td><b><?php echo $this->formLabel['age']; ?></b></td>		
	   <td><input type="text" name="age" id="age" value="<?php echo $this->age; ?>" size="2"></td>
	</tr>
	<tr>
	   
	   <td><b><?php echo $this->formLabel['sex']; ?></b></td>		
	   <td><?php echo $this->sex; ?></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['addr']; ?></b></td>		
	   <td><textarea name="address" id="addr" rows="3" cols="30"><?php echo $this->address; ?></textarea></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['desg']; ?></b></td>		
	   <td><textarea  name="designation"  id="desg" rows="3" cols="30" ><?php echo $this->desg; ?></textarea></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['joindt']; ?></b></td>		
	   <td><input type="text" name="joindate" size="10" value="<?php echo $this->joinDt; ?>" id="pick-date1"></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['desc']; ?></b></td>		
	   <td><textarea name="description" id="desc" rows="4" cols="30"><?php echo $this->desc; ?></textarea></td>
	</tr>
	<tr>
	   <td><b><b><?php echo $this->formLabel['image']; ?></b></b></td>		
	   <td><input type="file" name="file" id="file" value=""></td>
	</tr>
	<tr> 
		<td>  </td>
		<td>  </td>
	</tr>
	<tr>
	   <td></td>
	   <td>
	      <input type="submit" value="<?php echo $this->formLabel['edit']; ?>" id="submit">
	      <input type="reset" value="<?php echo $this->formLabel['reset']; ?>" id="submit">
	      <input type="button" value="<?php echo $this->formLabel['cancel']; ?>" id="submit" onclick="cancel()">
	   </td>
	</tr>
</table>
</form>
</div>

<?php } ?>
