<?php
 $rows=$this->rows;
 $element =new Bloomfi_App_UHtmlElement;
 $originalRows=$rows;
 $submittedRows=0;
 if($this->validationMsg)
 foreach($this->validationMsg as $row)
 {
    if(isset($row['status']))
	if($row['status']=='Success')
		$submittedRows++;
 }

 if($submittedRows <= $rows)
	$rows=$rows-$submittedRows;
 ?>

    <div style="background:#B2B2B2;line-height:50px;padding:0 10px 0 10px;text-align:right;">
     <img src="<?= $this->images['addReceipt']; ?>" style="float:left;" >
    <div style="float:left;margin-left:10px;color:#fff;font-size:18px;"><?= $this->formLabels['addSectionLabel'];  ?></div>
	<form method="POST">
		<input type="text" name="rows" value="<?= $originalRows; ?>"/>
		<INPUT type="submit" value="<?= $this->numRowsLabel['submit']; ?>" id="submit_2"/>
	</form>
    </div>
    <TABLE id="dataTable" class="zebra">
    
    <form name="addTran" method="POST">
    <input type="hidden" name="copyRow" value="" />
    <input type="hidden" name="rows1" value="<?= $originalRows; ?>"/>
	<tr>
		<th><?= $this->formLabels['serial']; ?></th>
		<th><?= $this->formLabels['customerCode']; ?></th>
		<th><?= $this->formLabels['memo']; ?></th>
		<th><?= $this->formLabels['type']; ?></th>
		<th><?= $this->formLabels['date']; ?></th>
		<th><?= $this->formLabels['amount']; ?></th>
		<th><?= $this->formLabels['copy']; ?></th>
	</tr>
	<?php
	for($i=0;$i<$originalRows;$i++)
	{ 
	   if($this->validationMsg[$i+1]['status']!='Success' )
	    {
		$customer=$this->cust[$i];
		$memo=$this->memo[$i];
		$type=$this->typ[$i];
		$date=$this->dt[$i];
		$amount=$this->amnt[$i];
	    }else{
		$customer=null;
		$memo=null;
		$type=null;
		$date=null;
		$amount=null;
	    }
	?>
	<tr>
		<td><?= $i+1; ?></td>
		<td><input type="text" name="customer[<?= $i; ?>]" value="<?= $customer; ?>" class="customer" ></td>
		<td><input type="text" name="memo[<?= $i; ?>]"  value="<?= $memo; ?>" class="memo" size="10"></td>
		<td>
		<?php
			echo $element->createSelectDb("receipt_type[".$i."]",$this->recv_types,'VALUE_NAME','VALUE_NAME',$type,'NOT');
		?>
		</td>
		<td><input type="text" name="date[<?= $i; ?>]" value="<?= $date; ?>" class="pick-date" size=10 ></td>
		<td><input type="text" name="amount[<?= $i; ?>]" value="<?= $amount; ?>" id="amount" ></td>
		<td><input type='image' src="<?= $this->images['down']; ?>"  onclick='setThis(<?=$i+1;?>)' value='Copy' class='no-border-bkcolor'></td>
	</tr>
	<?php	

	}
	?>
    </TABLE>
    <div style="background:#B2B2B2;line-height:50px;padding:0 10px 0 10px;text-align:right;">
		<input type="submit" value="<?= $this->formLabels['submit']; ?>" name="save" id="submit_2"/>
    </div>
    
    </form>

    <fieldset class="validation-message">
	<legend><?= $this->statusLabels['heading']; ?></legend>
			<br>
			<table class="zebra">
			    <tr>
				<th width=10%><?= $this->statusLabels['row']; ?></th>
				<th width=70%><?= $this->statusLabels['error']; ?></th>
				<th width=20%><?= $this->statusLabels['status']; ?></th>
                            </tr>
			 </table>
			 <div class="table-fix-area">
			 <table class="zebra">
			    <?php
			       $id=1;
			       if( $this->validationMsg ){
			        $datas = $this->validationMsg;
				foreach ( $datas as $key1 => $row ) {
				if($row['skip']==false)
				{
				echo "<tr><td width=10%>".$key1."</td><td width=70%>";
				if(isset($row['error']))
				  if(is_array($row['error']))
					{
					   foreach ( $row['error'] as $key2 => $error ) {

					     echo $key2." : ".$error.'<br>';
					     $id++;
					   }
					}
				  echo "</td><td width=20%>";
				  echo $row['status'];
				  echo "</td></tr>";
				}}}
			    ?>
			</table>
			</div>
</fieldset>

<fieldset class="validation-message">
	<legend><?= $this->formLabels['resultHeading']; ?></legend>
	<?php  if( $this->sucsessfulEntries ){ ?>
	<fieldset class="export_section">
		<legend><?= $this->formLabels['excelExport'] ?></legend>
		<a href="/dbd/index/xlsexprtarr" id="xlss"></a>
	</fieldset>
	<?php } ?>
	<br>
	<table class="zebra3">
	    <tr>
		<th width=5%><?=  $this->formLabels['serial']; ?></th>
		<th width=12%><?= $this->formLabels['customerCode']; ?></th>
		<th width=18%><?= $this->formLabels['memo']; ?></th>
		<th width=10%><?= $this->formLabels['type']; ?></th>
		<th width=10%><?= $this->formLabels['amount']; ?></th>
		<th width=10%><?= $this->formLabels['date']; ?></th>	
	    </tr>
	 </table>
	 <div class="table-fix-area">
	 <table class="zebra3">
	    <?php
	       $id=1;
	       if( $this->sucsessfulEntries ){
			foreach ( $this->sucsessfulEntries as $row ){
				echo '<tr>';
				echo '<td width=5%>'.$id.'</td>';
				echo '<td width=13%>'.$row['customer'].'</td>';
				echo '<td width=10%>'.$row['memo'].'</td>';
				echo '<td width=10%>'.$row['type'].'</td>';
				echo '<td width=18%>'.$row['amount'].'</td>';
				echo '<td width=10%>'.$row['date'].'</td>';
				echo '</tr>';
				$id++;
			}
		   
	       }
	    ?>
	</table>
	</div>
</fieldset>

