<div class="comp-data-section">
	<div class="component-header">
	Total Reference Information
	</div>
	<div class="component-content">
		<table class="clean-table extend">
			<tr>
				<td>Total Beneficiary</td>
				<td><?= $this->totalCustResult->TOTAL_CUSTOMER; ?></td>
			</tr>

			<tr>
				<td>Total Project</td>
				<td><?= $this->totalSchmResult->TOTAL_SCHEME; ?></td>
			</tr>

			<tr>
				<td>Total Collector</td>
				<td><?= $this->totalCollResult->TOTAL_COLLECTOR; ?></td>
			</tr>

			<tr>
				<td>Total Location</td>
				<td><?= $this->totalLocResult->TOTAL_LOCATION; ?></td>
			</tr>
		</table>
	</div>
</div>