<?php

if($this->textSuccess)
{
  echo "<div class='successbox'>";
     $this->successMessage($this->textSuccess);
  echo "</div>";
}

if( $this->textErrors )
{ 
  echo "<div class='errorbox'>";
  	echo "<b>".$this->viewlabels['termination']."</b><br>";
		$this->textMessage($this->textErrors);
  echo '</div>';
}


?>

<div class="entry-section">

<div class="add-section">
	<img src="/../images/icons/emploc_map_icon.png" class="icons" > &nbsp;&nbsp;<?php echo $this->labels['sectionLabel'] ?>
</div>
<form name="emplocmap" method="POST">
	<table class="zebra">
	<tr>
		<td><b><?=  $this->labels['userId']; ?></b></td><td><input type="text" name="param1" id="param1" value="<?= $this->userId; ?>"></td>
	</tr>
	<tr>
		<td> <b><?=  $this->labels['roleId']; ?></b> </td>
		<td> 
		<?php if($this->roles) { ?>
			<select name="roles[]" multiple="multiple" class="select-roles">
			  <option value="" ><?= $this->labels['noRole'];  ?></option>
			  <?php foreach($this->roles as $role) {
				$select=null;
				if($this->result)
					foreach ($this->result as $userrole){
					 if($userrole->MAP_ROLE_ID == $role->ACCESS_ROLE_ID) {
						$select='selected';
						break;
					 }}
				 ?>	
				<option value=<?php echo '"'.$role->ACCESS_ROLE_ID.'" '.$select; ?> ><?= $role->ACCESS_ROLE_ID;  ?></option>
			<?php } ?>
			</select> 
		<?php } ?>		
		</td>
	</tr>
	
	<?php  if($this->result){  ?>
		<tr>
			<td><b><?=  $this->labels['userRole']; ?></b></td>
			<td>
			<table width=100%>
					<tr>
						<th> <?=  $this->labels['roleId']; ?> </th><th> <?=  $this->labels['roleType']; ?> </th><th> <?=  $this->labels['roleDesc']; ?> </th>
					</tr>
					<?php foreach($this->result as $result) 
					{ ?>
						<tr> 
							<td><?= $result->ACCESS_ROLE_ID;  ?></td><td><?= $result->ACCESS_ROLE_TYPE;  ?></td><td><?= $result->ACCESS_ROLE_DESC;  ?></td>
						</tr>
				
					<?php } ?> 
			</table>
			</td>
		</tr>
	<?php } ?>
		
	<tr> 
		<td>  </td> 
		<td>  
			<input type="submit" value="<?=  $this->labels['save']; ?>" id="submit"> 
			<input type="button" value="<?php echo $this->labels['cancel']; ?>" id="submit" class="cancel">
		</td>
	</tr>
	</table>
</form>
</div>


