
<div class="entry-section">

<?php
if($this->update==2)
 {  
    if($this->textSuccess)
      {
          echo "<div class='successbox'>";
	     $this->successMessage($this->textSuccess);
	  echo "</div>";
      }
    $script='<script language="JavaScript">
		return_url="'.$this->url.'";
		delayRedirect(return_url);
	    </script>';
    echo $script;
}
else {
 if($this->textErrors )
{ 
  echo "<div class='errorbox'>";
  	echo "<b>".$this->viewlabels['termination']."</b><br><br>";
		
	if($this->textErrors )
		$this->textMessage($this->textErrors);
  echo '</div>';
}
?>

<form method="POST"  enctype='multipart/form-data'>
<input type="hidden" name="params"  value="<?php echo $this->id."/".$this->image; ?>" size="30">
<input type="hidden" name="id" id="id" value="<?php echo $this->id ?>" size="30">
<table class="zebra">
	<tr>
	   <td rowspan=3 ><div class="entity-image-box"><img src="/../images/entity/customer/<?php echo $this->image; ?>" class="entity-image-box-image-boder" ></div></td>	
	   <td><b><?php echo $this->formLabel['customerId']; ?></b></td>		
	   <td><input type="text" name="custId" id="custId" value="<?php echo $this->custId; ?>" size="30" class="element-text"><div id="checkcustid"></div></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['cssId']; ?></b></td>		
	   <td><input type="text" name="cssId" id="cssId" value="<?php echo $this->cssId; ?>" size="30"></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['name']; ?></b></td>		
	   <td><input type="text" name="name" id="name" value="<?php echo $this->name; ?>" size="30"></td>
	</tr>
	<tr>
	   <td rowspan=11>  </td>		
	   <td><b><?php echo $this->formLabel['age']; ?></b></td>		
	   <td><input type="text" name="age" id="age" value="<?php echo $this->age; ?>" size="2"></td>
	</tr>
	<tr> 
	   <td><b><?php echo $this->formLabel['sex']; ?></b></td>		
	   <td>
		<?php echo $this->sex; ?>
	   </td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['location']; ?></b></td>		
	   <td>
		<?php echo $this->location; ?>
	   </td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['addr']; ?></b></td>		
	   <td><textarea name="address" id="addr" rows="3" cols="30"><?php echo $this->address; ?></textarea></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['astemp']; ?></b></td>		
	   <td><input type="text" name="astemp" value="<?php echo $this->astemp; ?>" size="30" id="employee_name" ></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['scheme']; ?></b></td>		
	   <td>
		<?php echo $this->scheme; ?>
	   </td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['desc']; ?></b></td>		
	   <td><textarea name="description" id="desc" rows="4" cols="30"><?php echo $this->desc; ?></textarea></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['appldt']; ?></b></td>		
	   <td><input type="text" name="appdate" size="10" value="<?php echo $this->appdate; ?>" class="pick-date1"></td>
	</tr>
	<tr>
	   <td><b><?php echo $this->formLabel['image']; ?></b></td>		
	   <td><input type="file" name="file" id="file" /> </td>
	</tr>
	<tr> 
		<td>  </td>
		<td>  </td>
	</tr>
	<tr>
            <td>  </td>
	    <td><input type="submit" name="submit" value="<?php echo $this->formLabel['edit']; ?>" id="submit" >  
	    <input type="reset" value="<?php echo $this->formLabel['reset']; ?>" id="submit"> 
	   <input type="button" value="<?php echo $this->formLabel['cancel']; ?>" id="submit" onclick="cancel()"></td>
	</tr>
</table>
</form>
</div>
<?php } ?>


