<?php
 $rows=$this->rows;
 $element =new Bloomfi_App_UHtmlElement;
 $originalRows=$rows;
 $submittedRows=0;
 if($this->validationMsg)
 foreach($this->validationMsg as $row){
    if(isset($row['status']))
	if($row['status']=='Success')
		$submittedRows++;
 }
 if($submittedRows <= $rows)
	$rows=$rows-$submittedRows;
 ?>

 <script type="text/javascript">

$( function(){ 
$("table.zebra3 tr:even").addClass("even"); 
$("table.zebra3 tr:odd").addClass("odd"); 
});
</script>

 <script type="text/javascript">

function setThis(selectValue){
document.addColl.copyRow.value = selectValue;
}

$(document).ready(function() {
	$('.pick-date').datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat:"yy-mm-dd",
			beforeShow: function() {$('#ui-datepicker-div').maxZIndex(); },
			showOn: 'button',
			buttonImage: '/../images/icons/calendar.gif',
			buttonImageOnly: true,
			buttonText:'Date Picker'
		});

	$(".employee").autocomplete("/ref/employee/suggestempid", {
		width: 260,
		matchContains: true,
	//	mustMatch: true,
		minChars: 0,
		//multiple: true,
		//highlight: false,
		//multipleSeparator: ",",
		selectFirst: false
	});
});

</script>
<?php
if($this->textErrors)
{ 
	echo "<div class='errorbox'>";		
	$this->textMessage($this->textErrors);
	echo '</div>';
}
?>

    <div style="background:#B2B2B2;line-height:50px;padding:0 10px 0 10px;text-align:right;">
    <img src="<?= $this->images['addPayment']; ?>" style="float:left;" >
    <div style="float:left;margin-left:10px;color:#fff;font-size:18px;"><?= $this->formLabels['addSectionLabel'];  ?></div>
	<form method="POST" name="row_nums">
		<INPUT type="text" name="rows" value="<?= $originalRows; ?>"/>
		<INPUT type="submit" value="<?= $this->numRowsLabel['submit']; ?>" name='row_num' id="submit_2"/>
	</form>
    </div>

    <TABLE id="dataTable" class="zebra">
    
    <form name="addColl" method="POST" id="addTran">
    <input type="hidden" name="rows1" value="<?= $originalRows; ?>"/>
    <input type="hidden" name="copyRow" id='copyRow' value=""/> 
	<tr>
		<th><?= $this->formLabels['serial']; ?></th>
		<th><?= $this->formLabels['employeeCode']; ?></th>
		<th><?= $this->formLabels['employeeName']; ?></th>
		<th><?= $this->formLabels['age']; ?></th>
		<th><?= $this->formLabels['sex']; ?></th>
		<th><?= $this->formLabels['address']; ?></th>
		<th><?= $this->formLabels['designation']; ?></th>
		<th><?= $this->formLabels['date']; ?></th>
		<th><?= $this->formLabels['copy']; ?></th>
	</tr>
	<?php
	$employeeId=$employeeNm=$age=$gender=$address=$designation=$date=null;
	for($i=0;$i<$originalRows;$i++)
	{ 
	   if($this->validationMsg[$i+1]['status']!='Success')
	   {
		$employeeId=$this->empId[$i];
		$employeeNm=$this->empNm[$i];
		$age=$this->age[$i];
		$gender=$this->gender[$i];
		$address=$this->address[$i];
		$designation=$this->desig[$i];
		$date=$this->dt[$i];
	   }else{
		$employeeId=null;
		$employeeNm=null;
		$age=null;
		$gender=null;
		$address=null;
		$designation=null;
		$date=null;
	   }
	?>
	<tr>
		<td><?= $i+1; ?></td>
		<td>	
			<input type="text" name="employeeId[<?= $i; ?>]" value="<?= $employeeId; ?>"  size=15>
		</td>
		<td>	
			<input type="text" name="employeeNm[<?= $i; ?>]" value="<?= $employeeNm; ?>" size=15>
		</td>
		<td>	
			<input type="text" name="age[<?= $i; ?>]" value="<?= $age; ?>" size=6>
		</td>
		<td width=10%>
			<?= $element->createSelectDb("sex[".$i."]",$this->sex,'VALUE_ID','VALUE_NAME',$gender,'NOT',null, ' style="width:80px;" ');
			?>
		</td>
		<td>	
			<input type="text" name="addr[<?= $i; ?>]" value="<?= $address; ?>" size=15>
		</td>
		<td>	
			<input type="text" name="desig[<?= $i; ?>]" value="<?= $designation; ?>" size=15>
		</td>
		<td>
			<input type="text" name="date[<?= $i; ?>]" value="<?= $date; ?>" class="pick-date" size=10 >
		</td>
		<td>
			<input type='image' src="<?= $this->images['down']; ?>"  onclick='setThis(<?=$i+1;?>)' value='Copy' class="no-border-bkcolor">
		</td>
	</tr>
	<?php
	}
	?>
    </TABLE>
    <div style="background:#B2B2B2;line-height:50px;padding:0 10px 0 10px;text-align:right;"> 
	<INPUT type="submit" value="<?= $this->formLabels['submit']; ?>" name="save" id="submit_2" />
    </div>
    
    </form>

<fieldset class="validation-message">
	<legend><?= $this->statusLabels['heading']; ?></legend>
	<br>
	<table class="zebra">
	    <tr>
		<th width=10%><?= $this->statusLabels['row']; ?><?php //echo $this->logTable['errorRow']; ?></th>
		<th width=70%><?= $this->statusLabels['error']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
		<th width=20%><?= $this->statusLabels['status']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
	    </tr>
	 </table>
	 <div class="table-fix-area">
	 <table class="zebra">
	    <?php
	       $id=1;
	       if( $this->validationMsg ){
		$datas = $this->validationMsg;
		foreach ( $datas as $key1 => $row ) {
		if($row['skip']==false)
		{
		echo "<tr><td width=10%>".$key1."</td><td width=72%>";
		if(isset($row['error']))
		  if(is_array($row['error']))
			{
			   foreach ( $row['error'] as $key2 => $error ) {
			     echo $key2." : ".$error.'<br>';
			     $id++;
			   }
			}
		  echo "</td><td>";
		  echo $row['status'];
		  echo "</td></tr>"; 
		}}}
	    ?>
	</table>
	</div>
</fieldset>

<fieldset class="validation-message">
	<legend><?= $this->resultLabels['heading']; ?></legend>
	<?php  if( $this->sucsessfulEntries ){ ?>
	<fieldset class="export_section">
		<legend><?= $this->resultLabels['excelExport'] ?></legend>
		<a href="/dbd/index/xlsexprtarr" id="xlss"></a>
	</fieldset>
	<?php } ?>
	<br>
	<table class="zebra3">
	    <tr>
		<th width=5%><?= $this->resultLabels['serial']; ?><?php //echo $this->logTable['errorRow']; ?></th>
		<th width=13%><?= $this->resultLabels['employeeId']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
		<th width=20%><?= $this->resultLabels['employeeName']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
		<th width=5%><?= $this->resultLabels['age']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
		<th width=8%><?= $this->resultLabels['sex']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
		<th width=15%><?= $this->resultLabels['address']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
		<th width=15%><?= $this->resultLabels['designation']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
		<th><?= $this->resultLabels['date']; ?><?php //echo $this->logTable['errorMessage']; ?></th>
	    </tr>
	 </table>
	 <div class="table-fix-area">
	 <table class="zebra3">
	    <?php
	       $id=1;
	       if( $this->sucsessfulEntries ){
			foreach ( $this->sucsessfulEntries as $row ){
				echo '<tr>';
				echo '<td width=5%>'.$id.'</td>';
				echo '<td width=21%>'.$row['employeeId'].'</td>';
				echo '<td width=20%>'.$row['employeeName'].'</td>';
				echo '<td width=5%>'.$row['age'].'</td>';
				echo '<td width=15%>'.$row['sex'].'</td>';
				echo '<td width=20%>'.$row['address'].'</td>';
				echo '<td width=20%>'.$row['designation'].'</td>';
				echo '<td>'.$row['date'].'</td>';
				echo '</tr>';
				$id++;
			}
		   
	       }
	    ?>
	</table>
	</div>
</fieldset>
