/** Slider **/
#slider {
    width:100%;
    margin: 0 auto;
    position: relative;
	margin-top:10px;
	margin-left:20px;
	z-index:500;
}

.scroll {
    height: 250px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
    background: #F5F5F5 url(images/content_pane-gradient.gif) repeat-x scroll left bottom;
	border-left:1px solid #FBE64F;
	border-bottom:1px solid #FBE64F;
	border-right:1px solid #FBE64F;
}

.scrollContainer div.panel {
    padding: 10px;
    width: 720px;
	overflow:auto;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
	margin-left:10px;
	
}

ul.navigation li {
    display: inline;
    margin-right: 5px;
}

ul.navigation a {
    padding: 10px;
    color: #000;
    text-decoration: none;
}

ul.navigation a:hover {
    background-color: #FDF3B0;
}

ul.navigation a.selected {
    background-color: #FDF3B0;
	border-left:1px solid #FBE64F;
	border-top:1px solid #FBE64F;
	border-right:1px solid #FBE64F;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 150px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -20px;
}

.scrollButtons.right {
    right: -20px;
}

/* Slider */