<?php
$script=<<<SCRIPT
<script type="text/javascript">

	$( function(){ 
$("table.zebra tr:even").addClass("even"); 
$("table.zebra tr:odd").addClass("odd"); 
});
</script>
SCRIPT;
echo $script;
?>


<?php
/* Get File extension from file name */
function getFileExtension($filename){
  return substr($filename, strrpos($filename, '.'));
}
?>

<h1>Excel Management</h1><br>

<div class="log-section-full-panel">
 <table class="zebra">
 <tr>
	<th>Id</th>
	<th>Excel File</th>
	<th>Delete</th>
 </tr> 


<?php

$id = 1;
$path = "./tmp/excel/";
$handle = opendir( "$path" );

while($file = readdir($handle))
{
	if (filetype($path.$file) == 'file' )
	{
		if ( getFileExtension($path.$file) === '.xls' ) 
		{
		        $logsize=filesize($path.$file);

			echo '<tr>';
			echo '<td>'.$id.'</td>';
			echo '<td><a href="/tmp/excel/'.$file.'" target="_blank">'.$file.'</a>'.' ['.$logsize.']'.'</td>';	
			echo '<td><INPUT TYPE=CHECKBOX NAME="remove"></td>';				
			echo '</tr>';
			$id++;
		}
	}
}
closedir( $handle );
?> 

  </table>
</div>


