<?php 
$this->showXlsDownloadSection($this->xlsResults);

if($this->textSuccess)
{
  echo "<div class='successbox'>";
     $this->successMessage($this->textSuccess);
  echo "</div>";
}
else
if( $this->textErrors )
{ 
  echo "<div class='errorbox'>";
  	echo "<b>".$this->viewlabels['termination']."</b><br>";
		$this->textMessage($this->textErrors);
  echo '</div>';
}
?>

<div class="entry-section">
<fieldset>
<legend class="icon-div">
	<img src="/../images/icons/search.png" class="icons" > 
	<?php //echo $this->labels['searchSectionHead']; ?>
	<?php echo "Component Group Search Section"; ?>
</legend>
<div class="add-link-section">
	<a href="/adm/compscreen/entry" class="btn add">New Component Group</a>	
</div>

<div class="search-section">
	<form method="post" autocomplete="off">
	<input name="REQUEST" type="hidden" value="Search">
	       <table class="zebra">
			<tr> 
				<td> <b>Group Name</b>  </td>
				<td> <input type="text" name="param1" value="" ></td>
				<td> <b>Screen</b>  </td>
				<td> <?= $this->appScreenId; ?></td>
			</tr>
			<tr> 
				<td colspan=4> <input type="submit" value="<?php echo $this->labels['search']; ?>" id="submit_1"/>  </td> 
			</tr>
		</table>
	</form>
</div>

</fieldset>
</div>


<fieldset>
	<legend><?php /*echo $this->viewlabels['totalvaluepre'].'&nbsp;&nbsp; ' . $this->escape($this->totalCustomers).' '.$this->viewlabels['totalvaluepost']; */ ?></legend>
<?php
if($this->srch){
$searchResultString=$this->searchString( array('param1'=>$this->param[0], 'param2'=>$this->param[1]), 
array('param1'=>'Group Name','param2'=>'Screen' )); ?>
<div class="search-result-string"><img src="/../images/icons/searchresult.png" class="search-result-icons"  > <?= $searchResultString; ?></div>

<?php
  }
  if($this->paginator['paginator'])
  {
?>

<?php
$pagiParams=array('search'=>$this->srch);
$pagiParams=array_merge($pagiParams,$this->paginationparams);
?>
<div class="pagination"><?php echo $this->paginationControl($this->paginator['paginator'],
                                    'Sliding',
                                    '/partials/my_pagination_control.phtml',
				    $pagiParams); ?></div>
<?php } ?>

<form name="deleteForm" METHOD="POST" action='/adm/compscreen/delcomgrp' >
<?php if ( $this->srch ) {?>
<input name="params" type="hidden" value="<?php echo $this->param1; ?>" >
<?php } 
?>
<input name="REQUEST" type="hidden" value="Delete"> 
<?php
	$table_head = '<table class="zebra"> 
			<tr>
			    <th>Group Name</th>
			    <th>Screen</th>
			    <th>Position</th>
			    <th>Edit</th>
			    <th>'.'<input type="checkbox" name="checkall" value=0 onclick="SetAllCheckBoxes'."('deleteForm','gid','checkall')".';"/><input type="submit" class="delete" name="delete" id="delete_icon" value="">Delete</th>
			</tr>';
	echo $table_head;

	if ($this->paginator['data']): 
	$i=0;
	foreach ($this->paginator['data'] as $row ): 	
		echo "<tr>";
		echo "<td>$row->COMP_DISPLAY_GROUP_NAME</td>";
		echo "<td>$row->ASSOC_SCREEN_ID</td>";
		echo "<td>$row->SCREEN_POSITION</td>";
		echo '<td class="ct"><a href="/adm/compscreen/entry/id/'.$row->ID.'" id="edit_icon"></a></td>';
		echo '<td class="ct"><input type="checkbox" name="gid['.$i.']" id="gid" value="'.$row->ID.'" /></td>';
		echo "</tr>";
		$i++;		      
	endforeach; 
	endif; 
?>
</table>
</form>

<?php  
if($this->paginator['paginator'])
{
?>

<div class="pagination"><?php echo $this->paginationControl($this->paginator['paginator'],
                                    'Sliding',
                                    '/partials/my_pagination_control.phtml',
				    $pagiParams); ?></div>
</div>

<?php } ?>

</fieldset>