<?php
$script=<<<SCRIPT
<script type="text/javascript">

	$( function(){ 
$("table.zebra tr:even").addClass("even"); 
$("table.zebra tr:odd").addClass("odd"); 
});
</script>
SCRIPT;
echo $script;
?>
<script type="text/javascript">
	$(function() {
		$("#accordion").accordion({
			
			active: false,
			alwaysOpen: false,
			collapsible: true,
		});
	});
</script>


<div class="left-section-1">

	<div id="accordion">
		<h3> <img src="<?= $this->images['log']; ?>" class="bar-icons" ><a href="#">Customer Validation Log Section</a></h3>
		<div>
		   <form name="customer_validation_log" method="POST">
		       <input type="hidden" name="REQUEST" value="Customer Validation Logs"/>
			<table class="zebra">
			 <tr>
				<th width=10%><?php echo "File Id"; ?></th>
				<th width=21%><?php echo "Creation Time"; ?></th>
				<th width=57%><?php echo "Upload Log"; ?></th>
				<th><?php echo '<input type="submit" class="delete" name="delete" id="delete_icon" value="">Delete'; ?></th>
			 </tr>
			 </table>
			 <div class="table-fix-area">
			     <table class="zebra">
				<?php
				$id=1;
		
				if($this->custXlsValidationLogs){
				
				foreach($this->custXlsValidationLogs as $key => $file){
				 $file_name=$this->GetNameFromFile(ROOT_DIR.'/tmp/logs/xlslogs/validation_logs/'.$file['filename']);
				 $file_log = $file['filename'];
				 $html_log = str_replace(".log", ".html" , $file_log);
				 $log_name = $file_name.".log";
				 $html_name = $file_name.".html";
				 echo '<tr>';
				 echo '<td width=10% class="ct">'.$id.'</td><td width=21%>'.$file['lstatime'].'</td>';
				 echo '<td width=60%><a href="/tmp/logs/xlslogs/validation_logs/'.$file_log.'" target="_blank">'.$log_name.'</a><br><a href="/tmp/logs/xlslogs/validation_logs/'.$html_log.'" target="_blank">'.$html_name.'</a></td>';
				 echo '<td class="ct" ><input type="checkbox" name="custValidationLog['.$id.']" id="custValidationLog"  value="'.$file_log.'" /></td>';
				 echo '</tr>';
				 $id++;
				}}
				?>
			     </table>
			  </div>
		    </form>
		</div>

		<h3><img src="<?= $this->images['log']; ?>" class="bar-icons" ><a href="#">Customer Upload Log Section</a></h3>
		<div>
		     <form name="customer_upload_log" method="POST">
			<input type="hidden" name="REQUEST" value="Customer Upload Logs"/>
			 <table class="zebra">
			 <tr>
				<th width=10%><?php echo "File Id"; ?></th>
				<th width=21%><?php echo "Creation Time"; ?></th>
				<th width=57%><?php echo "Upload Log"; ?></th>
				<th><?php echo '<input type="submit" class="delete" name="delete" id="delete_icon" value="">Delete'; ?></th>
			 </tr>
			 </table>
			 <div class="table-fix-area">
			     <table class="zebra">
				<?php
				$id=1;
				$path='/tmp/logs/xlslogs/upload_logs/';
				if($this->custXlsUploadLogs){
				foreach($this->custXlsUploadLogs as $key => $file){
				$file_name=$this->GetNameFromFile(ROOT_DIR.'/tmp/logs/xlslogs/upload_logs/'.$file['filename']);
				 $file_log = $file['filename'];
				 $html_log = str_replace(".log", ".html" , $file_log);
				 $log_name = $file_name.".log";
				 $html_name = $file_name.".html";
				 echo '<tr>';
				 echo '<td width=10% class="ct">'.$id.'</td><td width=21%>'.$file['lstatime'].'</td>';
				 echo '<td width=60%><a href="'.$path.$file_log.'" target="_blank">'.$log_name.'</a><br><a href="/tmp/logs/xlslogs/upload_logs/'.$html_log.'" target="_blank">'.$html_name.'</a></td>';
				 echo '<td class="ct"><input type="checkbox" name="custUploadLog['.$id.']" id="custUploadLog"  value="'.$file_log.'" /></td>';
				 echo '</tr>';
				 $id++;
				}}
				?>
			    </table>
			 </div>
		     </form>
		</div>
	</div>
</div>