#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
  border:0 none;
}

#facebox .b {
  background:url(../images/facebox/b.png);
     border:0 none;
}

#facebox .tl {
  background:url(../images/facebox/tl.png);
     border:0 none;
}

#facebox .tr {
  background:url(../images/facebox/tr.png);
     border:0 none;
}

#facebox .bl {
  background:url(../images/facebox/bl.png);
     border:0 none;
}

#facebox .br {
  background:url(../images/facebox/br.png);
     border:0 none;
}


#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background:#0f6984 url("../images/jpg/faceboxbody.png") repeat-x  ;
  width: 370px;
  border:0 none;
}

#facebox .loading {
  text-align: center;
}

#facebox .close {
  float:right;
  margin:9px 0 0 0;
  background:url("../images/facebox/closelabel.png") no-repeat ;
  height:24px;
  width:24px;
}

#facebox .close:hover {
  float:right;
  background:url("../images/facebox/closelabel_hover.png") no-repeat ;
  height:24px;
  width:24px;
}

#facebox .close_image {
 background:url("../images/facebox/closelabel.png")  ;

}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
/*  border-top: 1px solid #DDDDDD; */
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
   border:0 none;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;

}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
     border:0 none;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
     border:0 none;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
